name: Deploy

on: push

# on:
#   push:
#     branches:
#       - 'publish-**'

jobs:
  site:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@master

      - uses: borales/actions-yarn@v4
        with:
          cmd: install

      - name: build
        run: yarn run site:build

      - name: gen 404.html
        run: cp ./dist/site/index.html ./dist/site/404.html

      - name: deploy-to-surge
        uses: dswistowski/surge-sh-action@v1
        with:
          login: ${{ secrets.SURGE_LOGIN }}
          token: ${{ secrets.SURGE_TOKEN }}
          domain: https://ng-util.surge.sh
          project: ./dist/site
