name: Deploy

on: push

# on:
#   push:
#     branches:
#       - 'publish-**'

jobs:
  site:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@master

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: build
        run: pnpm run site:build

      - name: gen 404.html
        run: cp ./dist/ng-util/browser/index.html ./dist/ng-util/browser/404.html

      - name: deploy-to-surge
        uses: dswistowski/surge-sh-action@v1
        with:
          login: ${{ secrets.SURGE_LOGIN }}
          token: ${{ secrets.SURGE_TOKEN }}
          domain: https://ng-util.surge.sh
          project: ./dist/ng-util/browser
