name: Test And Lint

on: push

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@master

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: lint
        run: pnpm run lint

      - name: run
        run: pnpm run test

      - uses: codecov/codecov-action@v5
        name: upload
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unittests
          files: ./coverage/cobertura-coverage.xml
          fail_ci_if_error: true
          verbose: true
